.tile {
  height: 100%;
  padding: 16px;
  text-align: center;
}

.tile > .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tile::before {
  content: "";
  float: left;
  padding-top: 100%;
}
