MONGODB_URI=mongodb://localhost:27017/test

SESSION_SECRET=Your Session Secret goes here

FACEBOOK_ID=754220301289665
FACEBOOK_SECRET=41860e58c256a3d7ad8267d3c1939a4a

GITHUB_ID=cb448b1d4f0c743a1e36
GITHUB_SECRET=815aa4606f476444691c5f1c16b9c70da6714dc6

TWITTER_KEY=6NNBDyJ2TavL407A3lWxPFKBI
TWITTER_SECRET=ZHaYyK3DQCqv49Z9ofsYdqiUgeoICyh6uoBgFfu7OeYC7wTQKa

GOOGLE_ID=604906642251-vqgj7hhkknkekugv1bva93e8om5iqo1t.apps.googleusercontent.com
GOOGLE_SECRET=XAO_hqG8NEZg_0HP9__UcB4J
